
.navbar {
    border-bottom: 1px solid black;
}

#row {
    gap:120px;
}


.nav-link {
    font-size: medium;
    color: white;
    padding: 4px;
    border: transparent;
    font-weight: 600;
}

.nav-link:hover {
    color: white;
    background-color: grey;
    border-radius: 6px;

}

.line {
    color: rgb(69, 68, 68);
    border-left: 2px solid grey;
}

#nav-login {
    display: flex;
    gap: 10px;

}

#search-icon:hover {
    color: black;
}

.navbar {
    position: relative;
}

#search-results-overlay {
    position: absolute;
    top: 58px;
    left: 53.5%;
    width: 40%;
    transform: translateX(-50%);
    background-color: rgb(79, 75, 75);
    display: none;
    z-index: 9999;
    padding: 5px;

}

.movie-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.movie-item {
    margin-bottom: 5px;
}

.movie-link{
    text-decoration: none;
    color: white;
    width: 100%;
}

.movie-link:hover{
    text-decoration: underline;
}