/* 
.navbar {
    border-bottom: 1px solid black;
}



.nav-link {
    font-size: medium;
    color: white;
    padding: 4px;
    border: transparent;
    font-weight: 600;
    text-decoration: none;
}

/* .nav-link:hover {
    color: white;
    background-color: grey;
    border-radius: 6px;
} */

.line {
    border-left: 2.6px solid rgb(124, 122, 122);
}

.no-link {
  text-decoration: none;
  color: inherit;
}

.no-link:hover {
  text-decoration: none;
  color: inherit;
}

.dropdown-menu-left {
  margin-left: -50px; /* Adjust the value as per your preference */
}

.bg_hover:hover{
    background-color: rgb(53, 54, 54);
    border-radius: 8px;
}

.scale:hover{
    transform: scale(1.1);
}

.singnup{
    opacity: 0.75;
}
.singnup:hover{
    opacity: 1;
}

.login{
    background-color: white;
    color: black;
    border-radius: 18px;
    padding-inline: 4px;
}
.login:hover{
    color: black;
}

.navbar {
    position: relative;
}

#search-results-overlay {
    position: absolute;
    left: 52%;
    width: 37%;
    top: 10%;
    transform: translateX(-50%); /* Adjust horizontal centering */
    border-radius: 6px;
    background-color: rgb(22, 20, 20);
    display: none;
    z-index: 9999;
}



.movie-item:hover{
    filter:brightness(80%) ;
}

/* 

#search-icon:hover {
    color: black;
}



.movie-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.movie-item {
    margin-bottom: 5px;
}

.movie-link{
    text-decoration: none;
    color: white;
    width: 100%;
}

.movie-link:hover{
    text-decoration: underline;
} */