*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

:root {
    --accent-color: #24eaea;
    --accent-color2:rgb(122,228,230);
    --light-accent:#92eced;
    --medium-accent:#66e5e6;
    --pane-padding: 5px 42px;
    --bg-color:rgb(28, 31, 33);
    --blackish:#1a1a1a;
    --fade-black:rgb(44,44,44);
    --n_black:#221f1f;
    --n_white:#f5f5f1;
    --yellow:#F5C52B;

}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    background-color: rgb(10, 9, 9);
    font-family: 'Montserrat', sans-serif;
}

