<h1 class="person_name mb-4">Selena Gomez</h1>
<section class="d-flex person-info">
    <div class="img me-5">
        <img style="width: 258px; height: 256px;" src="" alt="" style="object-fit: contain;">
    </div>
    <div class="bio"></div>
</section>

<section class="credits d-flex flex-column mt-5">
    <h2 class="mt-4">Credits</h2>
    <div class="credit_container d-flex" style="gap: 50px;">
        
        <div class="d-flex flex-column container-card-credit align-items-center pb-5">
            <img  style="width: 150px; height: 210px; object-fit: cover;" src="" alt="">
            <div class="text pt-1 ps-1" style="width: 100%; background:var(--fade-black);" style="padding: 5px;">
                <h6 class="pt-2"><span><i class="fa fa-star fa-xl" style="width: 13;"></i> 7.6</h6>
                <h5>Movie Name</h5>
            </div>

        </div>  
                
  

        
         
    </div>
</section>