<div class="home">



                <div class="section">
                    <h3>Family Film Night</h3>
                    <div class="card-group d-flex pb-3">
                        <div class="card card-container rounded">
                            <img class="card-img-top card-img-container " src="" alt="Movie Poster">
                            <div class="card-body rounded-bottom border-0  card-body-container text-white">
                                <h6><span><i class="fa fa-star fa-xl " style=" width: 13%;"></i></span> 8.6</h6>
                                <h5 class="card-title  ">Title</h5>
                                <button class="btn btn-primary w-100 btn-card"><span><i class="fa fa-plus fa-xl pe-2"></i></span>Watchlist</a>
                            </div>
                        </div>
                    </div>
                </div> 
</div>