<div class="home">
    <div class="section">
        <h3>Newly Added</h3>
        <div class="card-group d-flex">

            <div class="card card-container rounded">
                <img class="card-img-top card-img-container "
                    src="https://e1.pxfuel.com/desktop-wallpaper/175/597/desktop-wallpaper-top-35-john-wick-chapter-4-john-wick-chapter-4-poster.jpg">
                <div class="card-body rounded-bottom border-0  card-body-container text-white">
                    <h6><span><i class="fa fa-star fa-xl" style=" width: 13%; color: red;"></i>8.6</h6>
                    <h5 class="card-title pb-2">Movie title</h5>
                    <button class="btn btn-primary w-100 btn-card"><span><i class="fa fa-plus fa-xl pe-2"></i></span>Watchlist</a>
                </div>
            </div>



        </div>
    </div>