<div class="home">

    <div class="section my-4">
        <h3 id="section-title">Recently Added</h3>
        <div class="card-group d-inline-flex">
            <div class="card card-container rounded">
                <img class="card-img-top card-img-container " src="" alt="Movie Poster">
                <div class="card-body rounded-bottom border-0  card-body-container text-white">
                    <h6><span><i class="fa fa-star fa-xl " style=" width: 13%;"></i></span> 8.6</h6>
                    <h5 class="card-title  ">Gaurdian of the Galaxy: Vol 3</h5>
                    <button class="btn btn-primary w-100 btn-card"><span><i class="fa fa-plus fa-xl pe-2"></i></span>Watchlist</a>
                </div>
            </div>
        </div>
    </div>

        <div class="section">
            <h3>My Watchlist</h3>
            <div class="card-group d-flex pb-3">
                <div class="card card-container rounded">
                    <img class="card-img-top card-img-container " src="" alt="Movie Poster">
                    <div class="card-body rounded-bottom border-0  card-body-container text-white">
                        <h6><span><i class="fa fa-star fa-xl " style=" width: 13%;"></i></span> 8.6</h6>
                        <h5 class="card-title  ">Title</h5>
                        <button class="btn btn-primary w-100 btn-card"><span><i class="fa fa-plus fa-xl pe-2"></i></span>Watchlist</a>
                    </div>
                </div>
            </div>
        </div>


            <div class="section">
                <h3>Comediess</h3>
                <div class="card-group d-flex pb-3">
                    <div class="card card-container rounded">
                        <img class="card-img-top card-img-container " src="" alt="Movie Poster">
                        <div class="card-body rounded-bottom border-0  card-body-container text-white">
                            <h6><span><i class="fa fa-star fa-xl " style=" width: 13%;"></i></span> 8.6</h6>
                            <h5 class="card-title  ">Title</h5>
                            <button class="btn btn-primary w-100 btn-card"><span><i class="fa fa-plus fa-xl pe-2"></i></span>Watchlist</a>
                        </div>
                    </div>
                </div>
            </div>

                <div class="section">
                    <h3>Family Film Night</h3>
                    <div class="card-group d-flex pb-3">
                        <div class="card card-container rounded">
                            <img class="card-img-top card-img-container " src="" alt="Movie Poster">
                            <div class="card-body rounded-bottom border-0  card-body-container text-white">
                                <h6><span><i class="fa fa-star fa-xl " style=" width: 13%;"></i></span> 8.6</h6>
                                <h5 class="card-title  ">Title</h5>
                                <button class="btn btn-primary w-100 btn-card"><span><i class="fa fa-plus fa-xl pe-2"></i></span>Watchlist</a>
                            </div>
                        </div>
                    </div>
                </div>

    </div>