<div class="bg_b px-2">
    
    <div class="m-container d-flex">
        <div class="m-img rounded me-5 m-2">
            <img class="m_img"  alt="">
        </div>
        <div class="m-data d-flex flex-column justify-content-center flex-grow-1">
    
            <h1 class="fw-semibold movie-title"></h1>
            <div class="meta d-flex opacity-75">
                <p class="year"></p>
                <i class="bi bi-dot"></i>
                <p class="content-rating"></p>
                <i class="bi bi-dot"></i>
                <p class="duration"></p>
                <i class="bi bi-dot"></i>
                <p class="category"></p>
            </div>
            <div class="d-flex  flex-column pb-3">
                <h5 class="pe-2">Flixpedia rating: <i class="bi bi-star yellow"></i> 4.7/10 </h5>
                <h5>Your rating: <i class="bi bi-star"></i> Rate</h5>
            </div>
    
            <div class="minus">
                <h6 class="fw-semibold">Overview</h6>
                <p class="plot pe-4"></p>
            </div>
            <div class="minus">
                <h6 class="fw-semibold   ">Director</h6>
                <p class="">Quentin Tarantino</p>
            </div>
            <button type="button" id="watchlistBtn" class="btn-dark btn w-25">
                <i class='fa fa-plus fa-xl pe-2 me-1'></i>
                Add to Watchlist
            </button>
    
        </div>
    </div>
    
    
    <section class="cast-section">
        <div class="cast-container d-flex flex-wrap  mt-3">
        </div>
    </section>
    
    
    <section class="review-section mb-5  bg_b">
        <h2 class="mt-4">Reviews</h2>
        <form id="reviewForm">
            <textarea type="text-area" class="m-4 p-2" name="review" id="review"
                style="color:black;width: 80%;  height:5rem; " placeholder="Start writing your review"></textarea>
            <button type="" class="btn btn-dark mb-3 comment"> Comment</button>
        </form>
        <div id="reviews-container" class="reviews-container mb-5 border-top border-start border-end d-flex flex-column">
        </div>
    </section>
</div>
    <script>
    $(".comment").on("click", function (e) {
            e.preventDefault();
            var entity = {
                MoviesID: localStorage.getItem("selectedMovieId"),
                Comment: $("textarea").val()
            };
            ReviewService.create(entity);
            $("textarea").val("");
        });

        ReviewService.init();
    </script>
    
    

