<div class="bg_b px-2">


    <div class="m-container row">

        <div class="m-img rounded me-2">
            <img class="m_img mt-2" alt="">
        </div>

        
        <div class="m-data d-flex flex-column justify-content-center col-7">
            <h1 class="fw-semibold mb-5 person_name"></h1>

            <div class=" ">
                <h6 class="fw-semibold">Biography</h6>
                <p class=" bio">Uma </p>
        </div>
    </div>


    <section class="credit-section mt-5 ">
        <div class="credit-container d-flex flex-wrap  mt-3 gap10">   
        </div>
    </section>

</div>
<script>
    Person.init();
</script>