<h1>Search result for: <span id="s1"></span></h1>

<div class="titles mt-5 pb-3">
    <h2>Movies</h2>
    <div class="title-results border m-2 px-3">

        
        <div class="title-result py-3 border-bottom d-flex">
            <img src="https://c.disquscdn.com/uploads/users/27207/5802/avatar200.jpg?1683832424" alt="" width="50px"
                height="50px" class="mx-2">
            <div class="search-info">
                <h6>Parasite</h6>
                <h6 class="opacity-75">2019</h6>
            </div>
        </div>

    </div>
</div>



<div class="people mt-5 pb-3">
    <h2>People</h2>
    <div class="people-results border m-2 px-3">

        <div class="people-result py-3 border-bottom d-flex">
            <img src="https://c.disquscdn.com/uploads/users/27207/5802/avatar200.jpg?1683832424" alt="" width="50px"
                height="50px" class="mx-2">
                <h6>Jeniffer Lawrence</h6>
        </div>

    </div>
</div>
