<div class="watchlist">
    <h1 class="p-2">Your Watchlist</h1>
    <div class="d-flex justify-content-between px-3 py-2 align-items-center"
        style="background-color: #333233; border: 1px solid black;">
        <h5 class="pt-1" id="wtk">Titles</h5>
        <!-- <div>
            <label for="sort">Sort by:</label>
            <select name="sort" id="sort" style="color: black;">
                <option value="title">Title</option>
                <option value="date">Release Date</option>
            </select>
            <span>
                <i class="fa fa-sort" aria-hidden="true" style="color: black;"></i>

            </span>
            <i class="bi bi-grid-3x3-gap ms-2"></i>
        </div> -->
    </div>

    <div class="watchlist-container flex flex-column">
    </div>
</div>

<script>
    WatchlistService.getWatchlist();

// ... your existing code ...

// Event delegation for dynamically created elements
$(document).on("click", ".mm_tt", function() {
  var movieId = $(this).attr("data-movie");
            localStorage.setItem("selectedMovieId", movieId);
            window.location.href = "#movie";
});

</script>